
name: release

on:
  push:
    branches:
      - master

permissions:
  issues: write
  actions: write
  contents: write
  packages: write

defaults:
  run:
    shell: bash

jobs:
  release:
    timeout-minutes: 12
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: 16
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}
      - uses: ahmadnassri/action-semantic-release@v2.1.13
        id: release
        env:
          GITHUB_TOKEN: ${{ github.token }}
